
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Kanit:wght@500&family=Lemon&family=Righteous&family=Rock+Salt&family=Sarala&family=Syne:wght@700;800&family=Wallpoet&display=swap');


@media only screen and (max-width: 820px) {
  .maincontainer{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(5,1fr);
    grid-template-areas:

    "header"
    ""

  }




}



@media only screen and (min-width: 820px) {
}
